<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Criar Novo Estoque</title>
</head>
<body>
    <a href="{% url 'home' %}">Voltar ao Menu Inicial</a>
    <h1>Gerar Novo Estoque</h1>
    <hr>

    <form action="{% url 'criar_estoque' %}" method="post">
        {% csrf_token %}
        <label for="nome_estoque">Nome do Estoque:</label>
        <input type="text" id="nome_estoque" name="nome_estoque" required>
        <button type="submit">Criar Estoque</button>
    </form>
</body>
</html>