<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Lista de Estoques</title>
</head>
<body>
    <a href="{% url 'home' %}">Voltar ao Menu Inicial</a>
    <h1>Estoques Existentes</h1>
    <hr>

    {% if estoques %}
        <ul>
        {% for estoque in estoques %}
            <li>
    <a href="{% url 'gerenciar_produtos' estoque.id %}">{{ estoque.nome }}</a>
    - {{ estoque.data_criacao|date:"d/m/Y H:i" }}
    <a href="{% url 'apagar_estoque' estoque.id %}" style="color: red;">[Apagar]</a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Não existem estoques.</p>
    {% endif %}
</body>
</html>